include ../../blocks/components/FieldText/FieldText
include ../../blocks/components/FilesBlock/FilesBlock
include ../../blocks/components/ApplyIcon/ApplyIcon
include ../../blocks/components/ComputerIcon/ComputerIcon
include ../../blocks/components/PointsComputerIcon/PointsComputerIcon
include ../../blocks/components/PortalDoorIcon/PortalDoorIcon
include ../../blocks/components/BtnArrow/BtnArrow
include ../../blocks/components/Btn/Btn
include ../../blocks/components/BtnToTop/BtnToTop
include ../../blocks/components/Card/Card
include ../../blocks/components/Preloader/Preloader
include ../../blocks/components/Navbar/Navbar
include ../../blocks/components/NumberedLines/NumberedLines
include ../../blocks/components/Modal/Modal
include ../../blocks/components/MainForm/MainForm

include ../../blocks/modules/AboutCompanyGroup/AboutCompanyGroup
include ../../blocks/modules/Header/Header
include ../../blocks/modules/MainScreen/MainScreen
include ../../blocks/modules/AboutUs/AboutUs
include ../../blocks/modules/Services/Services
include ../../blocks/modules/AboutTech/AboutTech
include ../../blocks/modules/Stages/Stages
include ../../blocks/modules/Apply/Apply
include ../../blocks/modules/CompletedProject/CompletedProject
include ../../blocks/modules/ProjectAll/ProjectAll
include ../../blocks/modules/Reviews/Reviews
include ../../blocks/modules/Vacancy/Vacancy
include ../../blocks/modules/Contacts/Contacts
include ../../blocks/modules/Partners/Partners
include ../../blocks/modules/Footer/Footer
include ../../blocks/modules/OrderingProject/OrderingProject
include ../../blocks/modules/PrivacyPolicy/PrivacyPolicy