mixin PointsComputerIcon(className)
	- const classes = className ? `${className} points-computer-icon` : 'points-computer-icon'

	svg(class= classes width="138" height="179" viewBox="0 0 138 179" fill="none" xmlns="http://www.w3.org/2000/svg")
		rect(x="6" y="6" width="126" height="145" fill="white")
		rect(x="12" y="157" width="114" height="16" fill="white")
		rect(y="12" width="6" height="139" fill="black")
		rect(x="132" y="12" width="6" height="139" fill="black")
		rect(x="6" y="151" width="126" height="6" fill="black")
		rect(x="126" y="157" width="6" height="22" fill="black")
		rect(x="6" y="173" width="123" height="6" fill="black")
		rect(x="6" y="153" width="6" height="23" fill="black")
		rect(x="17" y="129" width="13" height="6" fill="black")
		rect(x="83" y="123" width="33" height="6" fill="black")
		rect(x="24" y="16" width="92" height="6" fill="black")
		rect(x="24" y="97" width="92" height="6" fill="black")
		rect(x="116" y="22" width="6" height="75" fill="black")
		rect(x="18" y="22" width="6" height="75" fill="black")
		rect(x="12" width="114" height="6" fill="black")
		rect(x="6" y="6" width="6" height="6" fill="black")
		rect(x="126" y="6" width="6" height="6" fill="black")
		rect(class="point" x="32" y="32" width="4" height="4" fill="black")
		rect(class="point" x="32" y="66" width="4" height="4" fill="black")
		rect(class="point" x="32" y="78" width="4" height="4" fill="black")
		rect(class="point" x="32" y="42" width="4" height="4" fill="black")
		rect(class="point" x="32" y="54" width="4" height="4" fill="black")
		rect(class="point" x="44" y="32" width="4" height="4" fill="black")
		rect(class="point" x="44" y="66" width="4" height="4" fill="black")
		rect(class="point" x="44" y="78" width="4" height="4" fill="black")
		rect(class="point" x="44" y="42" width="4" height="4" fill="black")
		rect(class="point" x="44" y="54" width="4" height="4" fill="black")
		rect(class="point" x="56" y="32" width="4" height="4" fill="black")
		rect(class="point" x="56" y="78" width="4" height="4" fill="black")
		rect(class="point" x="56" y="42" width="4" height="4" fill="black")
		rect(class="point" x="68" y="32" width="4" height="4" fill="black")
		rect(class="point" x="80" y="32" width="4" height="4" fill="black")
		rect(class="point" x="92" y="32" width="4" height="4" fill="black")
		rect(class="point" x="68" y="42" width="4" height="4" fill="black")
