mixin PortalDoorIcon(className)
	- const classes = className ? `${className} computer-icon` : 'computer-icon'

	svg(class="portal-door-icon" width="68" height="102" viewBox="0 0 71 118" fill="none" xmlns="http://www.w3.org/2000/svg")
		path(class="portal-door-icon__door" d="M71 117L0 118V0H71V117Z" fill="#0037FF" width="10")
