mixin Contacts()
	section.contacts
		.container
			.section-content
				.contacts__item
					h3.contacts__item-title.content-highlight #[span Москва]
					.contacts__item-descr метро Сокол, БЦ Алмазный, улица Балтийская, д.15, офис 818
					.contacts__img-wrap
						img(src='img/content/contacts_moscow.jpg' alt='Карта адреса офиса в Москве')

				.contacts__item
					h3.contacts__item-title.content-highlight #[span Санкт-Петербург]
					.contacts__item-descr метро Балтийская, наб.Обводного канала 118АХ, "БЦ Малевич"
					.contacts__img-wrap
						img(src='img/content/contacts_spb.jpg' alt='Карта адреса офиса в Санкт-Петербурге')

				.contacts__item
					h3.contacts__item-title.content-highlight #[span Уфы]
					.contacts__item-descr ул. Мира, дом 14
					.contacts__img-wrap
						img(src='img/content/contacts_ufa.jpg' alt='Карта адреса офиса в Уфе')
