.main-screen {
	padding-top: 35px;
	padding-bottom: 60px;

	&__title {
		margin-bottom: 14px;
		&--home-page {
			font-size: 40px;
			line-height: 46px;
		}
	}

	&__description {
		padding-left: 28px;
	}

	&__mouse {
		display: none;
		text-align: center;
	}
}

@include min(992px) {
	.main-screen {
		padding-top: 0;
		padding-bottom: 100px;

		&--home-page {
			.numbered-lines-title {
				.numbered-lines__numbers {
					line-height: 120px;
				}
			}

			.main-screen__description {
				margin-bottom: 100px;
			}
		}

		&__title {
			margin-bottom: 40px;
			&--home-page {
				font-size: 120px;
				line-height: 116px;
			}
		}

		&__description {
			padding-left: 115px;
		}

		&__mouse {
			display: block;
		}

		&__mouse-img {
			display: inline-block;
			vertical-align: bottom;
			width: 23px;
			animation: mouse-animate 1.5s ease-in infinite;
		}
	}
}

@keyframes mouse-animate {
	0% {
		transform: translateY(-10px)
	}

	50% {
		transform: translateY(0px)
	}

	100% {
		transform: translateY(-10px)
	}
}
