mixin Preloader()
	.preloader.preloader-page
		.preloader__load
			+PointsComputerIcon('preloader-page__points-computer-icon')
			.preloader-page__title
				img.preloader-page__logo(src='img/logo.svg' alt='Логотип')
				span OSC Programming
